<section class="about" id="about" data-aos="fade-up" data-aos-anchor-placement="center">
    <div class="container">
        <div class="row about-container">
            <div class="col-xs-12 col-md-2 col-lg-1 d-flex bottom-xs">
                <div>
                    <div class="text-gray display-4 about-contact-title">Want to challenge us?</div>
                    <div class="small"><a href="mailto:hello@blackur.com">hello@blackur.com</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 about-content-mid d-flex col-xs-offset-0 col-md-offset-1 col-lg-offset-2">
                <div class="row">
                    <div class="col-xs-12 col-md-5 display-4">We are here to help ideas & products find their place in digita</div>
                </div>
                <div class="display-2">We are Blackur. <div class="text-gray">And we are in the black.</div></div>
                <div class="bottom-section">
                    <div class="medium">What we do</div>
                    <div class="row small">
                        <div class="col-xs-12 col-md-5">
                            The real question is, what don't we do? For starters,
                            we don't do dental anesthesia, upholstering, reed/wind instrument
                            repairment and/or tuning, acupuncture, soil conservation, or beekeeping.
                            Instead, we specialize in digital experiences and products across web, tablet and mobile devices.
                        </div>
                        <div class="col-xs-12 col-md-5 col-xs-offset-0 col-md-offset-2">
                            Sometimes we add an extra sentence or two to make sure that the copy aligns with the other columns.
                            If you think this is a waste of time, just skip to our project section – that’s where the real magic happens.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>