{% macro slide(data) %}
<div class="slide" style="background-image: url('{{data.image}}')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2 last-xs first-md">
                <div class="slide-footer">
                    <div class="small text"><a href="mailto:{{data.email}}">{{data.email}}</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <h1 class="display-1 title">{{data.title}}</h1>
                <div class="medium">{{data.description}}</div>
                <a href="{{data.href}}"><i class="arrow"></i></a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
<section class="home-carousel-wrapper" id="home">
    <div class="slick-carousel home-carousel">
        {% asyncEach item in carousel.slides %}
            {{ slide(item) }}
        {% endeach %}
    </div>
    <div class="dots-container">
        <div class="container dots" id="dots"></div>
    </div>
</section>
