<section class="contact white-theme" id="contact">
    <div class="container">
        <div class="row contact-container">
            <div class="col-xs-12 col-md-2 col-lg-1 d-flex bottom-xs">
                <div>
                    <div class="small"><a href="mailto:hello@blackur.com">hello@blackur.com</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 contact-content-mid d-flex col-xs-offset-0 col-md-offset-1 col-lg-offset-2">
                <div class="row">
                    <div class="col-xs-12 col-md-5 display-4">We take up the boldest projects and are proud of the result.</div>
                </div>
                <div class="display-2">Tell us your <div class="text-gray">Black secrets.</div></div>
                <form class="bottom-section">
                    <div class="row small">
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <label for="email-input" class="d-block">Enter e-mail</label>
                                <input type="email" id="email-input" class="input-text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-xs-offset-0 col-md-offset-2">
                            <div class="input-group">
                                <label for="details-input" class="d-block">Tell us details</label>
                                <input type="text" id="details-input" class="input-text"/>
                                <button type="submit" class="btn-run"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>