<section class="header">
    <header class="container">
        <div class="row">
            <div class="col-xs-12 header-wrap">
                <div class="logo">
                    <a href="#home">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</section>