<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div class="page">
    {% block header %}{% include "components/header.html" %}{% endblock %}
    {% block carousel %}{% endblock %}
    {% block about %}{% endblock %}
    {% block menu %}{% include "components/menu.html" %}{% endblock %}
</div>
<script src="app.js"></script>
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:300,400,900" rel="stylesheet">
</body>
</html>