@import "variables";
* {
  box-sizing: border-box;
}
body {
  font-family: 'Bitter', serif;
  background: $bg-black;
}
.container {
  max-width: 100%;
  padding: 0 10px;
  overflow: hidden;
}
.page {
  box-sizing: border-box;
  background: $bg-black;
  color: $white;
  min-height: 100vh;
  position: relative;
  transform: none !important;
  a {
    color: $white;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
}

.white-theme {
  background: $white;
  color: $bg-black;

  .display-2 {
    color: $light-gray;
  }
  .text-gray {
    color: $bg-black;
  }

  .input-text {
    border-bottom: 1px solid $light-gray;
    color: $bg-black;
  }

  .text-white {
    color: $bg-black;
  }
  a {
    color: $bg-black;
  }
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.text-white {
  color: $white
}
.text-gray {
  color: $gray;
}
.text-yellow {
  color: $yellow;
}
.display-1 {
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
  font-family: 'Bitter', serif;
  color: $white;
}
.display-2 {
  font-size: 63px;
  line-height: 70px;
  font-weight: bold;
  font-family: 'Bitter', serif;
}
.display-3 {
  font-size: 54px;
  line-height: 85px;
  font-weight: bold;
  font-family: 'Bitter', serif;
}
.display-4 {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  font-family: 'Bitter', serif;
}
.small {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 22px;
}
.medium {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 36px;
}

.input-text {
  border: 0;
  outline: 0;
  border-bottom: 1px solid $white;
  background: none;
  color: $white;
}

i {
  &.arrow {
    background: url('images/arrow.png') no-repeat center;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}