@import "variables";
.cd-contact {
  .main-menu {
    menu {
      background: rgba($bg-black, .95);
      a:hover, a:active {
        color: $gray;
      }
    }
  }
  .open {
    .header .toggler span {
      background: $white;
    }
  }
}

.open {
  .main-menu {
    transform: translateX(0);
  }
}
.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateX(100%);
  transition: all .5s;
  z-index: 10;
  menu {
    list-style: none;
    height: 100vh;
    background: rgba($yellow, .95);
    font-family: 'Roboto', sans-serif;
    font-size: 67px;
    line-height: 120px;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 100px;
    position: relative;
    li:last-child {
      position: absolute;
      bottom: 115px;
    }
    a {
      color: $white;
      font-weight: bold;
      transition: all .5s;
      &:hover, &:active {
        color: $gray-yellow;
        text-decoration: none;
      }
    }
  }
}