$bg-black: #070a0d;
$white: #fff;
$gray: #4e5358;
$yellow: #ffc926;
$blue: #32a9ed;
$dark-blue: #167db8;

$slick-dot-size: 4px;
$slick-dot-character: '\2022';
$slick-dot-color: $white;
$slick-font-path: './fonts/';
$slick-loader-path: './images/';
$slick-font-family: 'slick';
$slick-dot-color-active: $white;