.works {
  padding-top: 160px;
  .contact {
    align-items: flex-end;
    .email {
      position: fixed;
      bottom: 60px;
    }
  }
  .work {
    .work-item {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 490px;
      margin-bottom: 60px;

      &:nth-child(2n){
        justify-content: flex-end;
        text-align: end;
        .work-content {
          align-items: center;
          margin-right: -75px;
        }
      }
      .work-content {
        margin-left: -75px;
      }
    }
  }
}